.category-wrapper {
    &__designsoftware-wrapper {
        ul {
            margin: $ul-margin-mobile;
        }
    }
}

// DESKTOP - 1280PX
@media screen and (min-width: $desktop-1280) {
    .category-wrapper {
        &__designsoftware-wrapper {
            margin-top: 100px;
            
            h2 {
                margin-top: 0
            }
        }
    }
}