.machine-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $neutrals-10;
    background-size: cover;
    padding: 20px $margin-side-mobile;
    position: relative;
    text-align: center;
}

// TABLET PORTRAIT - 768PX
@media only screen and (min-width: $tablet-portrait) {
    .machine-banner {
        padding: 20px $margin-side-tablet-portrait;
    }
}

// TABLET LANDSCAPE - 1024PX
@media only screen and (min-width: $tablet-landscape) {
    .machine-banner {
        padding: 20px $margin-side-tablet-landscape;
    }
}

@media screen and (min-width: $desktop-1280) {
    .machine-banner {
        flex-direction: unset;
        text-align: initial;
        padding-left: $margin-side-desktop;
        padding-right: $margin-side-desktop;

        &__title {
            flex: 1;
            margin-bottom: 0;
        }
    }
}