.category-wrapper {
    &__images-wrapper {
        margin-top: 30px;
    }

    &__inspiration-links {
        &__list {
            margin-top: 20px;
            margin-left: 16px;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            &__item {
                margin-bottom: 5px;
            }

            &__item a:hover {
                border-bottom: 4px solid $primary;
            }
        }
    }
}

// TABLET PORTRAIT - 768PX
@media only screen and (min-width: $tablet-portrait) {
    .category-wrapper {
        &__images-wrapper {
            margin-top: 50px;
            width: 50%;
        }
    }
}

// TABLET LANDSCAPE - 1024PX
@media only screen and (min-width: $tablet-landscape) {
    .category-wrapper {
        &__images-wrapper {
            margin-top: 50px;
            width: 38%;
        }
    }
}

// DESKTOP - 1280PX
@media screen and (min-width: $desktop-1280) {
    .category-wrapper {
        &__images-wrapper {
            margin-top: 0px;
            width: auto;
        }

        &__inspiration-links {
            &__list {
                width: 50%;
            }
        }

        &__text-wrapper {
            width: 50%;
        }

        &__images-wrapper__text-wrapper {
            display: flex;
            justify-content: space-between;
        }
    }
}