.machine-image-wrapper {
    margin-top: 30px;
    margin-left: $margin-side-mobile;
    margin-right: $margin-side-mobile;
}

// TABLET PORTRAIT - 768PX
@media only screen and (min-width: $tablet-portrait) {
    .machine-image-wrapper {
        margin-top: 50px;
        margin-left: $margin-side-tablet-portrait;
        margin-right: $margin-side-tablet-portrait;
    }
}

// TABLET LANDSCAPE - 1024PX
@media only screen and (min-width: $tablet-landscape) {
    .machine-image-wrapper {
        margin-top: 50px;
        margin-left: $margin-side-tablet-landscape;
        margin-right: $margin-side-tablet-landscape;
    }
}

//DESKTOP 1280px
@media screen and (min-width: 1280px) {
    .machine-image-wrapper {
        text-align: initial;
        margin-left: $margin-side-desktop;
        margin-right: $margin-side-desktop;
    }

    .machine-wrapper {
        &__info {
            padding-bottom: 30px;
        }

        &__file-types {
            margin-top: 100px;

            h2 {
                margin-top: 0;
            }
        }

        &__manual-wrapper {
            margin-top: 100px;

            h2 {
                margin-top: 0;
            }
        }

        &__tutorial-wrapper {
            margin-top: 100px;
            margin-bottom: 60px;

            h2 {
                margin-top: 0;
            }

            h3 {
                margin-bottom: 0 !important;
            }
        }
    }

    .machine-image-wrapper {
        display: flex;
        justify-content: space-between;
    }
}

//DESKTOP 1920px
@media screen and (min-width: 1920px) {
    .machine-banner {
        padding-left: $margin-side-hd;
        padding-right: $margin-side-hd;
    }

    .machine-image-wrapper {
        margin-left: $margin-side-hd;
        margin-right: $margin-side-hd;
    }
}


//DESKTOP 2560px
@media screen and (min-width: 2560px) {
    .machine-banner {
        padding-left: $margin-side-qhd;
        padding-right: $margin-side-qhd;
    }

    .machine-image-wrapper {
        margin-left: $margin-side-qhd;
        margin-right: $margin-side-qhd;
    }
}


//DESKTOP 3840px
@media screen and (min-width: 3840px) {
    .container-machine {
        min-height: calc(100vh - 344px - 140px - 70px);
    }

    .machine-banner {
        padding-left: $margin-side-4k;
        padding-right: $margin-side-4k;
    }

    .machine-image-wrapper {
        margin-left: $margin-side-4k;
        margin-right: $margin-side-4k;
    }
}