.img-related {
    border-radius: 10px 10px 0px 0px;
}

.h2-related {
    margin: 10px 15px 20px 15px;
    padding-bottom: 20px;
}

// TABLET PORTRAIT - 768PX
@media only screen and (min-width: $tablet-portrait) {
    .related-articles {
        &__items {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }
    }

    .h2-related {
        margin: 10px 15px 20px 15px;
        padding-bottom: 0px;
    }
}



// DESKTOP - 1280PX
@media screen and (min-width: $desktop-1280) {
    .article-wrapper {
        .related-articles {
            .blog-wrapper-related {
                margin-top: 20px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 30px;
            }
        }
    }

    .blog-wrapper__blog-overview:first-of-type {
        margin-top: 0;
    }
}