.modal-copied {
    display: none;
    position: absolute;
    padding-top: 50px;
    left: 27%;
    width: 100%;
    height: 100%;
}
.modal-content-copied {
    position: absolute; //relative
    background-color: $neutrals-10;
    padding: 8px;
    margin: auto;
    width: auto;
    bottom: 50px;
    color: $neutrals-0;
    border-radius: $border-radius-middle;
}

// SMALL MODAL
#url {
    padding: 5px;
}


// DESKTOP - 1280PX
@media only screen and (min-width: $desktop-1280) {
    .modal-copied {
        left: 40%;
    }
}