//NEUTRALS
$neutrals-0: #FFFFFF;
$neutrals-1: #F3F3F3;
$neutrals-2: #E7E7E7;
$neutrals-3: #dddddd;
$neutrals-4: #C4C4C4;
$neutrals-5: #B8B8B8;
$neutrals-6: #A1A1A1;
$neutrals-7: #747474;
$neutrals-8: #5F5F5F;
$neutrals-9: #1D1D1D;
$neutrals-10: #000000;


// PRIMARY
$primary: #F2DB04;
$primary-opacity: #FFFBCE;