// FONT FAMILY
$primary-font: Verdana, sans-serif;
//$primary-font: 'Raleway', sans-serif;


// MOBILE FONT SIZES
$h1-font-size-mobile: 28px;
$h2-font-size-mobile: 20px;
$h3-font-size-mobile: 16px;
$h4-font-size-mobile: 14px;
$h5-font-size-mobile: 14px;

$p-big-font-size-mobile: 16px;
$p-small-font-size-mobile: 14px;
$label-font-size-mobile: 16px;

$button-big-font-size-mobile: 16px;
$tag-font-size-mobile: 14px;


// MOBILE FONT WEIGHT
$h1-font-weight: 700;
$h2-font-weight: 700;
$h3-font-weight: 700;
$h4-font-weight: 700;
$h5-font-weight: 500;

$p-font-weight: 500;
$label-font-weight: 500;


// LINE HEIGHT
$p-big-line-height: 24px;
$p-small-line-height: 21px;


// DESKTOP
$h2-home-font-size-hd: 32px;