// MOBILE
$margin-side-mobile: 16px;
$margin-side-mobile-big: 26px;

$h1-margin-mobile: 30px 0px 20px 0px;
$h2-margin-mobile: 30px 0px 10px 0px;
$h3-margin-mobile: 20px 0px 5px 0px;
$h4-margin-mobile: 30px 0px 10px 0px;
$h5-margin-mobile: 10px 0px 5px 0px;

$p-margin-mobile: 0px 0px 0px 0px;
$ul-margin-mobile: 16px;
$ul-margin-mobile-big: 26px;
$label-margin-mobile: 0px 0px 5px 0px;
$input-margin-mobile: 0px 0px 25px 0px;
$input-padding-mobile: 8px 16px 8px 16px;

$border-radius-small: 5px;
$border-radius-middle: 10px;
$border-radius-big: 15px;

$button-small-padding: 20px;
$button-big-padding: 15px 40px 15px 40px;

// TABLET
$tablet-portrait: 768px;
$tablet-landscape: 1024px;

$margin-side-tablet-portrait: 30px;
$margin-side-tablet-landscape: 40px;

// DESKTOP
$margin-side-desktop: 102px;
$margin-side-desktop-big: 102px 180px 102px 180px;

$h1-margin-desktop: 50px 0px 20px 0px;
$h2-margin-desktop: 70px 0px 10px 0px;
$h3-margin-desktop: 30px 0px 0px 0px;
$h4-margin-desktop: 50px 0px 10px 0px;
$h5-margin-desktop: 0px 0px 5px 0px;

$p-margin-desktop: 0px 0px 0px 0px;
$ul-margin-desktop: 102px;
$ul-margin-desktop-big: 180px;
$label-margin-desktop: 30px 30px 5px 30px;
$input-margin-desktop: 0px 0px 0px 0px;
$input-padding-desktop: 8px 16px 8px 16px;

$desktop-1280: 1280px;
$desktop-1366: 1366px;
$desktop-1440: 1440px;
$desktop-1536: 1536px;
$desktop-1600: 1600px;

//HD
$margin-side-hd: 342px;
$desktop-hd: 1920px;

// QHD
$margin-side-qhd: 662px;
$desktop-qhd: 2560px;

// 4K
$margin-side-4k: 1302px;
$desktop-4k: 3840px;
